.content article .video{
    width:80%;
    height:500px;
    margin-left: 10%;
    margin-bottom: 20px;
    transition: 1s ease;
}

.content div.principal{
    margin-top:30px;

}
div.scroll{
    height:1225px;
    overflow-y:scroll;
}
.content article > p, article > h3, article > h2, .content div.principal{
    font-size: 1.3em;
    text-align: justify;
    margin-bottom: 20px;
    width:98%;
    margin-left:0.5%;
}
.resaltado{
    font-weight: bold;
}
@media screen and (max-width: 1050px){
   
    .content article .video{
        height: 300px;
    }
}